html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  min-height: 100vh; /* Make document fill entire viewport by default */
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  line-height: initial; /* Remove unnecessary spacing at the bottom introduced by css reset stylesheet */
}
#header, #content > *, #footer {
  padding: 0 100px; /* Side padding */
}
#header, #footer {
  background-color: #1F2937;
}

/* Header */
#header {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
}
#header a {
  color: #f9faf8;
  text-decoration: none;
}
#header ul {
  display: flex;
  gap: 24px;
}
#header h1 {
  font-size: 48px;
  font-weight: 700;
}
#header h3 {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1em;
  padding: 8px 0;
}
#header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
#header button {
  width: 125px;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size:18px;
  color: white;
  cursor: pointer;
}
#header .navigator {
  display: flex;
  justify-content: space-between;
  font-size: large;
  padding-top: 24px;
}
#header .homepage {
  font-size: 24px;
  font-weight: 700;
  border-radius: 4px;
  margin-left: -7px;
  margin-top: -7px;
  padding: 8px;
}
#header .homepage:hover {
  outline: 3px dashed;
}
#header #navbar a:hover {
  border-bottom: 2px solid;
}
#header .hero {
  display: flex;
  max-height: 430px;
  gap: 24px;
  padding: 100px 0;
}
#header .hero > * {
  flex-basis: 50%;
}
#header .hero .image {
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

/* Content */

#content {
  flex: 1; /* Fill space between header and footer */
}
#content > * {
  padding: 50px 0 100px;
}
#content .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content .team h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
#content .team ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  padding-top: 50px;
}
#content .team li {
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 170px;
  aspect-ratio: 1;

}
#content .team img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Top part aligns placeholder text to center*/
  width: 100%;
  height: 100%;
  border: 4px solid #3882f6;
  border-radius: 16px;
  color: #1f2937;
  object-fit: cover;
}
#content .team p {
  color: #1f2937;
  font-size: 16px;
  text-align: center;
  padding-top: 16px;
}
#content .quote {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  padding: 100px 200px;
}
#content .quote span {
  display: block;
  font-size: .75em;
  font-style: normal;
  font-weight: 700;
  text-align: right;
}
#content .quote .author::before{
  content:'-';
}
#content .join-us {
  display: flex;
  align-items: center;
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  margin: 100px;
  padding: 48px 128px;
}
#content .join-us h3 {
  font-size: 24px;
  font-weight: 700;
}
#content .join-us p {
  font-weight: 300;
}
#content .join-us button {
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px 2em;
  cursor: pointer;
}
#content .join-us button:hover {
  background-color: white;
  color: #3882f6;
}
#content .join-us .message {
  flex-grow: 2;
}

/* Footer */

#footer {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding: 32px;
}

/* Media queries */
@media only screen and (max-width:920px) { 
	#header .hero {
    flex-basis: auto;
    flex-direction: column;
    max-height: none;
  }
  #header .hero img {
    max-height: calc(100vw / 2.5);
  }
  #content .team ul {
    flex-flow: row wrap;
    padding-left: 2em;
    padding-right: 2em;
  }
  #content .team li {
    max-width: none;
    max-height: none;
    flex-basis: 34%;
  }
  #content .team p {
    font-size: 1.25em;
  }
  #content .quote {
    padding: 1em 2em;
  }
  #content .join-us {
    flex-direction: column;
    gap: 1em;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0;
    margin: 0;
    padding: 1.5em 2em;
  }
  #content .join-us h3 {
    font-size: 2em;
  }
  #content .join-us p {
    padding: .5em 2em 0;
  }
  #content .join-us button {
    font-size: 1.5em;
    padding: .5em 3em;
  }
}
@media only screen and (max-width:800px) {
  #header .navigator {
    flex-direction: column;
    text-align: center;
  }
  #header .homepage {
    font-size: 4em;
    padding-bottom: .5em;
  }
  #header .homepage:hover {
    outline: none;
  }
  #header #navbar {
    display: none;
  }

  /* TODO: Implement vertical mobile navigation menu */

  #header .hero {
    padding-top: 0;
  }
}